@charset "utf-8";
@font-face {
    font-family: 'android';
    src: url('fontes/idroid.otf'), format('opentype');
}


header {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    background-image: linear-gradient(to bottom ,rgba(46, 180, 46, 0.651) ,rgb(2,90,2,0.966));
    text-align: center;
    padding: 10px;
    
    
} 
#titulo {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.info {
    font-size: 0.8em;

}
nav {
    text-align: left;
  
}
main {
    background-color: white;
    padding-left: 200px;
    padding-right: 200px;
 
   

}
.principal {
   
    
}

footer {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-align: center;
    background-color: rgb(1, 58, 1);
    padding-top: 1px;
    padding-bottom: 1px;

}